<main class="container">
  <div class="row">
    <div class="col">
      <div class="bg-light p-5 rounded">
        <h1 class="display-4">Victim Services: Community Programs Unit</h1>
        @if (!isNewUserRegistration && !contactExistsButNotApproved) {
          <button class="btn btn-primary btn-lg me-2 mb-2" (click)="login()">{{loggedIn ? 'Go to Dashboard' : 'Login'}}</button>
          @if (loggedIn) {
            <button class="btn btn-primary btn-lg me-2 mb-2" (click)="logout()">Log Out</button>
          }
        }
        @if (isNewUserRegistration && !contactExistsButNotApproved) {
          <button class="btn btn-primary btn-lg me-2 mb-2" [routerLink]="'/authenticated/new_user/'">Register New User</button>
        }
      </div>
    </div>
  </div>
</main>