@if (trans && contactForm) {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <section class="application-nav sticky-top">
          <div style="max-height: 90%">
            <app-organization-profile-box
              [type]="'profile'"
            ></app-organization-profile-box>
          </div>
        </section>
      </div>
      <div class="col">
        <div class="page-header">
          <h1>Update Organization Information</h1>
        </div>
        <h2 class="blue-header">Primary Agency Contact Information</h2>
        <app-primary-contact-form [formGroup]="contactForm.get('primaryContact')">
        </app-primary-contact-form>
        <app-address-form [formGroup]="contactForm.get('mainAddress')">
        </app-address-form>
        <h2 class="blue-header mt-4">Mailing Address</h2>
        <div class="form-check">
          <input
            [formControl]="contactForm.get('mailingAddressSameAsMainAddress')"
            class="form-check-input"
            type="checkbox"
            id="mailingAddressSameAsMainAddress"
            name="mailingAddressSameAsMainAddress"
            />
            <label
              class="form-check-label form-label fw-normal"
              for="mailingAddressSameAsMainAddress"
              >
              Please select this check box if mailing address is the same as Primary
              Program Contact Address
            </label>
          </div>
          <app-address-form [formGroup]="contactForm.get('mailingAddress')">
          </app-address-form>
          <h2 class="blue-header mt-4">Organization Contact(s)</h2>
          <p>
            If the executive or board contact information has inaccuracies please
            update personnel contact information for your organization.
          </p>
          <app-person-picker-form
            [title]="'Contractor Contact'"
            [control]="executiveContactControl"
            >
          </app-person-picker-form>
          <div class="form-check mt-4">
            <input
              [formControl]="contactForm.get('hasBoardContact')"
              type="checkbox"
              id="hasBoardOfDirectors"
              name="hasBoardOfDirectors"
              class="form-check-input"
              />
              <label for="hasBoardOfDirectors" class="form-label fw-normal">
                Please select this check box if your organization has a Board of
                Directors.
              </label>
            </div>
            @if (contactForm.get('hasBoardContact')?.value) {
              <span>
                <app-person-picker-form
                  [title]="'Board Contact (For societies only)'"
                  [control]="boardContactControl"
                  >
                </app-person-picker-form>
              </span>
            }
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-4"></div>
          <div class="col">
            @if (userRole > Roles.ProgramStaff) {
              <button
                (click)="save(true)"
                [disabled]="saving"
                class="btn btn-primary"
                >
                Save and Exit
              </button>
              <button
                class="btn btn-primary ms-2"
                (click)="cancel()"
                [disabled]="saving"
                >
                Cancel
              </button>
              <button
                class="btn btn-primary ms-2"
                (click)="save()"
                [disabled]="saving"
                >
                Save
              </button>
            }
            @if (userRole === Roles.ProgramStaff) {
              <button class="btn btn-primary ms-2" (click)="exit()">Exit</button>
            }
          </div>
        </div>
      </div>
    }
