@if (trans) {
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <section class="application-nav sticky-top">
          <div style="max-height: 90%;">
            @if (trans) {
              <div class="card organization-box">
                <div class="card-header">
                  {{ trans.organizationName ||'Organization'}}
                </div>
                <div class="card-body">
                  <p class="card-text">
                    <strong>Program Type</strong><br>
                    {{trans.contractNumber}}
                  </p>
                  <p class="card-text">
                    <strong>Fiscal Year</strong><br>
                    {{trans.fiscalYear}}
                  </p>
                </div>
              </div>
            }
          </div>
          <div style="max-height: 90%;">
            <app-icon-stepper></app-icon-stepper>
          </div>
          @if (!isCompleted) {
            <button class="btn btn-primary mt-2 me-2" [class.is-disabled]="saving || trans.signature.signatureDate" (click)="save(true, true)">Save and Exit</button>
          }
          @if (!isCompleted) {
            <button class="btn btn-primary mt-2" [class.is-disabled]="saving" (click)="save()">Save</button>
          }
          @if (isCompleted) {
            <button class="btn btn-primary mt-2" (click)="exit()">Exit</button>
          }
          <div class="additional-info-container">
            <div class="additional-info">
              <h5>Addition Information - CAP Guidelines and Liability Program Eligibility</h5>
              <p>Click below to open a new window and view information on CAP Guidelines and Liability Program Eligibility.</p>
              <p>You will not lose your progress on this application.</p>
              <p><button class="btn btn-secondary btn-wrappable" (click)="showCAPGuidelines()">View CAP Guidelines</button></p>
              <p><button class="btn btn-secondary btn-wrappable" (click)="showProgramEligibility()">Liability Program Egilibility</button></p>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-8">
        @if (stepperElements && currentStepperElement) {
          <div>
            <div class="page-header">
              <h1>{{currentStepperElement.itemName}}</h1>
            </div>
            @for (item of stepperElements; track item) {
              <div>
                @if (isCurrentStepperElement(item)) {
                  <div>
                    @if (item.discriminator === discriminators[0]) {
                      <div>
                        <app-funding-criteria></app-funding-criteria>
                      </div>
                    }
                    @if (item.discriminator === discriminators[1]) {
                      <div>
                        <app-applicant-information [trans]="trans" [isCompleted]="isCompleted"></app-applicant-information>
                      </div>
                    }
                    @if (item.discriminator === discriminators[2]) {
                      <div>
                        @for (program of trans.capPrograms; track program; let i = $index) {
                          <span>
                            @if (program.programId===item.object.data['programId']) {
                              <span>
                                <app-cap-program [(program)]="trans.capPrograms[i]" [isCompleted]="isCompleted"></app-cap-program>
                              </span>
                            }
                          </span>
                        }
                      </div>
                    }
                    @if (item.discriminator === discriminators[3]) {
                      <div>
                        <app-program-authorizer [(signature)]="trans.signature" [isDisabled]="isCompleted" formType="CAP Contract Application"></app-program-authorizer>
                      </div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        }
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <span>@if (stepperIndex > 0) {
          <button class="btn btn-primary mt-2 previous-button" (click)="setPreviousStepper()">Previous</button>
        }</span>
        <span>@if (stepperIndex < stepperElements.length - 1) {
          <button class="btn btn-primary mt-2 next-button" (click)="setNextStepper()">{{isCompleted?'':'Save and '}}Continue</button>
        }</span>
        <span>@if (stepperIndex == stepperElements.length -1  && !isCompleted) {
          <button class="btn btn-primary mt-2 submit-button" [class.is-disabled]="!trans.signature.signatureDate || saving" (click)="submit()">Submit</button>
        }</span>
      </div>
    </div>
  </div>
}